$grid-breakpoints: 320 480 640 800 960;

/**
 * Responsive grid classes
 */

.r-grid{
    letter-spacing: -0.31em;
    list-style:none; 
    margin:0;
    padding:0;

    .r-grid__unit{
        @include border-box;
        display:inline-block;
        letter-spacing: normal;
        text-rendering: auto;
        vertical-align: top;
        word-spacing: normal;
    }

    .r-grid__media {
        max-width: 100%;
    }

    &.r-grid--full{
     margin-left:0;

        > .r-grid__unit{
            padding-left:0;
        }
    }
}

/**
 * Responsive grid containers defining a grid width
 */
.r-grid-container {
    margin: 0 auto;
    max-width: 960px;

    &.r-grid-container--940 {
        max-width: 940px;
    }
}

/**
 * Grid units named by device
 */

@mixin device($device:""){

    // Append device name to the <html> psuedo element
    // to use with 'breakpoints' js component
    html:before {
        content: $device;
        display: none;
    }

    // If the device name isnt null, prepend a dash
    @if ($device != ""){
        $device: -#{$device};
    }

    $breakpoints: 2, 3, 4, 12, 16, 24;

    .unit#{$device}-full{
        width:100%;
    }

    .unit#{$device}-half{
        width:50%;
    }

    .unit#{$device}-remove-pad {
        padding: 0 !important;
    }

    .unit#{$device}-remove-inset {
        margin: 0 !important;
    }

    @each $n in $breakpoints {
        @for $i from 1 through $n {
            @if $i != $n {
                .unit#{$device}-#{$i}of#{$n} { 
                    width: percentage($i / $n);
                }
            }
        }
    }
}

/**
 * media queries that assign breakpoint to grid units
 */

.only-960,
.only-800,
.only-640,
.only-480,
.only-320 {
    display: none !important;
}

@media (min-width: 959px) and (min-device-width: 959px) {
    .only-960 {
        display: block !important;
    }
    .not-960 {
        display: none !important;
    }
}

// Default units - always available
@include device();

@media (max-width: 800px) and (min-device-width: 800px) {
    @include device("800");
    .only-800 {
        display: block !important;
    }
    .not-800 {
        display: none !important;
    }
}
@media (max-width: 640px) and (min-device-width: 640px) {
    @include device("640");
    .only-640 {
        display: block !important;
    }
    .not-640 {
        display: none !important;
    }
}
@media (max-width: 480px) and (min-device-width: 480px) {
    @include device("480");
    .only-480 {
        display: block !important;
    }
    .not-480 {
        display: none !important;
    }
}
@media (max-width: 320px) and (min-device-width: 320px) {
    @include device("320");
    .only-320 {
        display: block !important;
    }
    .not-320 {
        display: none !important;
    }
}