$rg-width: 960px;
$rg-font-size: 16px;
$rg-spacing: 0 5px 10px 20px 40px 60px;

// Components
// -----------------------------------------------------------------

@import "nib-styles-fractional-widths/index";
@import "nib-styles-spacing-classes/index";

// Grid Framework
// -----------------------------------------------------------------

@import "./lib/base";

// Mixins
// -----------------------------------------------------------------

@mixin rg-VisibilityClasses($columns, $breakpoints) {
  @each $breakpoint in $breakpoints {
    @if $breakpoint != $columns {
      .rg-visibleAt#{$breakpoint} {
        display: none;
      }
    }
  }
  .rg-invisibleAt#{$columns} {
    display: none;
  }
}

@mixin rg-Classes($columns) {
  html:before {
    content: "#{$columns}";
  }
  @include rg-VisibilityClasses($columns, 4 6 8 10 12);
  @include FractionalWidths($columns, $prefix: 'rg-');
  @include Spacing($rg-spacing, $prefix: 'rg-', $suffix: "at#{$columns}");
}

// Breakpoints
// -----------------------------------------------------------------

// 320px
@media (min-width: 1rem) {
  @include rg-Classes(4);
}

// 480px
@media (min-width: 30rem) {
  @include rg-Classes(6);
}

// 640px
@media (min-width: 40rem) {
  @include rg-Classes(8);
}

// 800px
@media (min-width: 50rem) {
  @include rg-Classes(10);
}

// 960px
@media (min-width: 60rem) {
  @include rg-Classes(12);
}

// Fallback
// -----------------------------------------------------------------

.no-mediaqueries,
.no-js {
  &:before {
    content: "12";
  }
  @include rg-Classes(12);
}